@model WA.BooksPlatform.Models.ViewModels.BookVM

@{
    ViewBag.Title = "CurrentBookChapter";
}

<h2><p class="text-center">上傳章節</p></h2>
<h4><p class="text-center">書名：@Model.Name</p></h4>

<p>
    <a href="/Authors/BookChapterCreate?bookId=@Model.Id" class="btn btn-default">新增</a>
</p>

<table class="table">
    <tr>
        <th>章節</th>
        <th>上傳日期</th>
        <th>
        </th>
    </tr>
    @if (Model.Chapter.Chapter.Count > 0)
    {
        foreach (var item in Model.Chapter.Chapter)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreateTime</td>
                <td>
                    @Html.ActionLink("編輯", "BookChapterEdit", new { bookId = Model.Id , chapterId = item.Id })
                </td>
            </tr>
        }
    }
	else
	{
        <tr>
            <td>還沒有新增內容喔~</td>
        </tr>
	}
</table>

<a href="/Authors/Index?pages=1" class="btn btn-default">返回</a>
