@model WA.BooksPlatform.Models.ViewModels.BookHomeVM

@{
    ViewBag.Title = "Index";
}
<style>
    #font {
        font-size: 20px;
        color: #000000;
    }
</style>

<h2>熱門推薦</h2>
<div class="container">
    <div class="row">
        @foreach (var item in Model.PopularBooks)
        {
            <div class="col-sm-6 col-md-4">
                <a href="/Books/Index?bookId=@item.Id" id="font">
                    <div class="thumbnail">
                        <img src="~/Files/BookImages/專題用書本.jpg" style="width:100% ; height:300pt ; object-fit:cover;">
                    </div>
                    書名:
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
        }
    </div>
</div>
<hr />
<h2>新書上架</h2>
<div class="container">
    <div class="row">
        @foreach (var item in Model.LatestUpdateBooks)
        {
            <div class="col-sm-6 col-md-4">
                <a href="/Books/Index?bookId=@item.Id" id="font">
                    <div class="thumbnail">
                        <img src="~/Files/BookImages/專題用書本.jpg" style="width:100% ; height:300pt ; object-fit:cover;">
                    </div>
                    書名:
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
        }
    </div>
</div>

