@model WA.BooksPlatform.Models.ViewModels.BookHomeVM

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Search)
        </th>
        <th></th>
    </tr>

</table>
<div class="container">
    <div class="row">
        <h3>熱門書籍</h3>
        @foreach (var item in Model.PopularBooks)
        {
            <a href="/Books/Index?bookId=@item.Id">
                <div class="row col-md-4">
                    <div class="col-md-3">
                        <img src="~/Files/BookImages/" style="width: 100%; height: 100%" />
                    </div>
                    <div class="col-md-1">
                        <h4>@item.Name</h4>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="row">
        <h3>最新書籍</h3>
        @foreach (var item in Model.LatestUpdateBooks)
        {
            <a href="/Books/Index?bookId=@item.Id">
                <div class="row col-md-4">
                    <div class="col-md-3">
                        <img src="~/Files/BookImages/" style="width: 100%; height: 100%" />
                    </div>
                    <div class="col-md-1">
                        <h4>@item.Name</h4>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

