@model WA.BooksPlatform.Models.ViewModels.BookRankVM

@{
    ViewBag.Title = "Rank";
}

<h2>排行</h2>

@if (!Model.Books.Count.Equals(0))
{
    <div class="row">
        <table class="table table-hover">
            @foreach (var item in Model.Books)
            {
                <tr>
                    <th>
                        <a href="/Books/Index?bookId=@item.Id">
                            <img src="~/Files/BookImages/專題用書本.jpg" style="width:30% ; height:100px ; object-fit:cover;">
                        </a>
                    </th>
                    <td>
                        <a href="/Books/Index?bookId=@item.Id" >@item.Name</a>
                    </td>
                    <td>
                        作者：@Html.DisplayFor(modelItem => item.Author)
                        <br />
                        總字數：@Html.DisplayFor(modelItem => item.TotalWord)
                    </td>
                    <td>
                        簡介：<br />
                        @Html.DisplayFor(modelItem => item.Blurb)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <tr>
        <td>查無資料</td>
    </tr>
}

